extends ./layout
block content
  .container.admin-100vh
    h3.title-create-form Administrador de contenido OBUN
    br
    .container
      .btn-group-lg
        a.btn.btn-lg.btn-primary.btn-admin-menu(href="/admin/areas")
          |Areas
        a.btn.btn-lg.btn-success.btn-admin-menu(href="/admin/servicios")
          |Servicios
        a.btn.btn-lg.btn-info.btn-admin-menu(href="/admin/becas")
          |Becas
        a.btn.btn-lg.btn-default.btn-admin-menu(href="/admin/fondos")
          |Fondos deApoyo
        a.btn.btn-lg.btn-warning.btn-admin-menu(href="/admin/trabajadores")
          | Trabajadores
        a.btn.btn-lg.btn-danger.btn-admin-menu(href="/admin/turnos")
          |Turnos

