extends ../layout

block content


  .container.admin-100vh
    h3.title-create-form Nueva Área
    br
    form.container(method="POST")

      .form-group
        label Nombre
        input.form-control(type="text",name="nombre",required)
      .form-group
        label Jefe
        input.form-control(type="text",name="jefe", required)
      .form-group
        label Descripcion
        textarea.form-control(type="text",name="descripcion", required)
      .form-group
        label Telefono
        input.form-control(type="text",name="telefono", required)
      button.btn.btn-lg.btn-success(type="submit") Registrar Area
      a.btn.btn-lg.btn-danger(href="/admin/areas") Volver
